img {
    width: 100px;
    border: 2px solid black;
    border-radius: 10px;
}

nav {
    padding: 20px 20px 50px 20px;
    background-color: #27374D;
    border-bottom: 3px solid black;
}

nav a {
    padding: 15px;
    background-color: #9DB2BF;
    color: #FFFFFF;
    border: 3px solid black;
    border-radius: 10px;
}

nav a:hover {
    background-color: #DDE6ED;
    color: black;
}


header {
    background-color: #526D82;
    padding: 30px 100px;
    border-bottom: 3px solid black;
}

h1 {
    font-size: 50px;
}

.product {
    display: flex;
    gap: 100px;
}

header img {
    width: 500px;
}

header div a {
    padding: 10px 50px;
    border: 3px solid black;
    border-radius: 10px;
    background-color: #9DB2BF;
    color: #FFFFFF;
}

header div a:hover {
    background-color: #DDE6ED;
    color: black;
}

main {
    background-color: #9DB2BF;
}

.omschrijving {
    background-color: #7f8f99;
    border-bottom: 3px solid black;
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 50px 100px;
}

.plus {
    background-color: #FFFFFF;
    padding: 20px;
    flex: 1;
}

.omsch {
    flex: 3;
}

.gere {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 150px;
    text-align: center;
    padding-bottom: 30px;
    margin: 0px 150px;

}

.gere h6 {
    font-size: 25px;
    margin: 10px;
}


footer {
    background-color: #27374D;
    padding: 20px;
}

footer a {
    padding: 5px;
    margin-left: 200px;
    color: #777c7f;
}

footer a:hover {
    background-color: #526D82;
    color: black;

}

h5 {
    font-size: 30px;
    text-align: center;
}